body {
    margin: 0
}
header {
    display: flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
    height: 80px;
    position: fixed;
    margin: 0 20px;
}
.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo span {
    color: mediumaquamarine;
    margin-left: 10px;
}
header nav {
    display: flex;
    align-items: center;
}
nav span {
    display: inline-block;
    
}
a {
    color: black;
    padding: 10px;
}